body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#mybotarmy{
  height: 25em;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  position: fixed;
  z-index: 100;
}
#mybotarmy::-webkit-scrollbar{appearance: none;}

.card-container{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-evenly  ;
 position: relative;
 top: 13em;
 overflow-y: scroll;
 
}

.card-container::-webkit-scrollbar{appearance: none;}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  

}

.recruit{
  
}